appdirs==1.4.3
cairocffi==0.8.0
CairoSVG==2.0.2
cffi==1.10.0
click==6.7
cssselect==1.0.1
cx-Oracle==5.3
dateparser==0.6.0
days==0.0.3
Flask==0.12
Flask-SQLAlchemy==2.2
Flask-WeasyPrint==0.5
Flask-WTF==0.14.2
html5lib==1.0b10
httplib2==0.10.3
ibm-db==2.0.7
ibm-db-sa==0.3.3
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.7.3
MarkupSafe==1.0
olefile==0.44
packaging==16.8
parsedate==0.0.1
Pillow==4.1.0
pkg-resources==0.0.0
pycparser==2.17
pyparsing==2.2.0
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.6.0
pytz==2017.2
regex==2017.2.8
reportlab==3.4.0
ruamel.yaml==0.14.5
six==1.10.0
SQLAlchemy==1.1.6
tinycss==0.4
tzlocal==1.3
WeasyPrint==0.36
webencodings==0.5.1
Werkzeug==0.12.1
WTForms==2.1
