<!DOCTYPE html>
<html>

<head>
    <title>{{title or 'Sistema Login'}}</title>

    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icone.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icone.ico') }}">
</head>

<body>
  <div class="container" style="margin-top:15px">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h1>Ops!!!, A página possui acesso restrito.</h1>
          <p>Somente contas autorizadas podem acessar está página.</p>
          <p><a class="btn btn-primary btn-lg" href="/" role="button">Voltar para a pagina Inicial</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
