{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
            <h3>{{ title }}</h3>
            <hr />
    </div>
    {% include 'messages.html' %}
    <div class="col-md-12">
      {% import "bootstrap/utils.html" as utils %}
      {% import "bootstrap/wtf.html" as wtf %}

      {% if form %}
      <form action="{{ url_for('tributacao.logistica_carga_pedidos') }}" method="post" class="form-group">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens='only') }}

        <div class="row">

            <div class="row">
              <div class="form-group col-md-12">
                {{ wtf.form_field(form.pedidos) }}
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-2">
              {{ wtf.form_field(form.submit, onclick="loading();") }}
              </div>
            </div>
          </div>

        </div>
      </form>
      {% endif %}

      <hr />
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#{{ form.pedidos.id }}').multiSelect({ 
    keepOrder: true,
    afterSelect: function(value){
        $('#{{ form.pedidos.id }} option[value="'+value+'"]').remove();
        $('#{{ form.pedidos.id }}').append($("<option></option>").attr("value",value).attr('selected', 'selected'));
      }
  });
</script>
{% endblock %}
