{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="col-md-6">
        {{ charts.generateHTML() }}
      </div>

      <div class="col-md-6">
        {{ charts2.generateHTML() }}
      </div>

      <div class="col-md-12">
        {{ lineChart.generateHTML() }}
      </div>

      <div class="col-md-12">
        {{ line.make_chart() | safe }}
      </div>
    </div>

    {% include 'messages.html' %}
{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    {{ charts.generateScript() }}
  </script>

  <script type="text/javascript">
    {{ charts2.generateScript() }}
  </script>

  <script type="text/javascript">
    {{ lineChart.generateScript() }}
  </script>

{% endblock %}
