{% extends "base.html" %}

{% block content %}
<div class="row" style="font-size: 120%">

  {% if rankings %}
    {% for ranking in rankings %}
      <div class="col-md-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><b>{{ ranking.nome|capitalize }}</b></div>

          <!-- Table -->
          <table class="table">
          <thead>
            <tr>
              <th>Posição</th>
              <th>Nome</th>
              <th>Tarefas Realizadas</th>
            </tr>
          </thead>
          <tbody>
            {% for colaborador in ranking %}
            <tr>
              <th>{{loop.index}}º</th>
              <td>{{ colaborador.nomeColaborador|capitalize }}</td>
              <td>{{ colaborador.qtd_tarefas }}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>

      {% if loop.index % 3 == 0 %}
        <div class="clearfix visible-block"></div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if resumo %}
    {% for key, tarefas in resumo.items() %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b>Resumo de Tarefas {{ key|capitalize }}</b></div>

        <!-- Table -->
        <ul class="list-group">
        {% for tarefa in tarefas %}
          {% for descricao, resultado in tarefa.items() %}
          <li class="list-group-item">
            <span class="badge">{{ resultado }}</span>
            {{ descricao }}
          </li>
          {% endfor %}
        {% endfor %}
        </ul>

      </div>
    </div>
    {% endfor %}
  {% endif %}

  {% if bloqueadas %}
    <div class="clearfix visible-block"></div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><b>Tarefas Bloqueadas</b></div>

        <!-- Table -->
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{ bloqueadas.qtdade }}</span>
            Separações Bloqueadas
          </li>
        </ul>

      </div>
    </div>
  {% endif %}

</div>

    {% include 'messages.html' %}
{% endblock %}

{% block scripts %}
<script>
  $('.lista-ids').mask('0##,#');

  setTimeout(function() {
    location.reload();
  }, 60000);

</script>
{% endblock %}
