{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
            <h3>Configurações Gerais</h3>
            <hr />
    </div>
    {% include 'messages.html' %}
    <div class="col-md-12">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Parametros Metas</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Parametros</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {% include 'wmserros/forms/form_parametros_metas.html' %}
                </div>

                <div role="tabpanel" class="tab-pane" id="profile">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('.lista-ids').mask('0#,#');
  $('#colaboradores_excluidos').multiSelect()
</script>
{% endblock %}
