{% if meta %}
<div class="col-md-12">
  <div class="center-block">
    <p class="text-right text-primary">
      <strong class="text-uppercase">Período:</strong> {{ meta.dt_inicial.strftime('%d-%m-%Y') }} à {{ meta.dt_final.strftime('%d-%m-%Y') }}
    </p>
    <hr />
  </div>
</div>

{% endif %}
<div class="col-md-12">
    <div role="tabpanel" class="tab-pane">
        <table id="mytable"
               data-toggle="table"
               data-classes="table table-no-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th data-sortable="true">Cod. Ciss</th>
                    <th data-sortable="true">Nome</th>
                    <th data-sortable="true" data-sorter="valueSorter">Valor Meta Mínimo</th>
                    <th data-sortable="true" data-sorter="valueSorter">Valor meta</th>
                    <th data-sortable="true" data-sorter="valueSorter">Valor Bruto</th>
                    <th data-sortable="true" data-sorter="valueSorter">Valor Devoluções</th>
                    <th data-sortable="true" data-sorter="valueSorter">Valor Realizado</th>
                    <th data-sortable="true" data-sorter="percentSorter">% Atingido</th>
                </tr>
            </thead>

            <tfoot>
              <tr>
                <td colspan="7" style="text-align:right;"><strong>Meta Minima</strong></td>
                {% if meta.valor_meta_minimo %}
                  <td><strong>{{ "R$ {:,.2f}".format(meta.valor_meta_minimo) }}</strong></td>
                {% else %}
                  <td><strong>0.0</strong></td>
                {% endif %}
                <td></td>
              </tr>

              <tr>
                <td colspan="7" style="text-align:right;"><strong>Meta</strong></td>
                {% if meta.valor_meta %}
                  <td><strong>{{ "R$ {:,.2f}".format(meta.valor_meta) }}</strong></td>
                {% else %}
                  <td><strong>0.0</strong></td>
                {% endif %}
                <td></td>
              </tr>

              <tr>
                <td colspan="7" style="text-align:right;"><strong>Realizado Bruto</strong></td>
                {% if total_vendas.val_bruto %}
                  <td><strong>{{ "R$ {:,.2f}".format(total_vendas.val_bruto) }}</strong></td>
                {% else %}
                  <td><strong>0.0</strong></td>
                {% endif %}
                <td></td>
              </tr>

              <tr class="text-danger">
                <td colspan="7" style="text-align:right;"><strong>Devoluções</strong></td>
                {% if total_vendas.val_dev %}
                  <td><strong>{{ "R$ {:,.2f}".format(total_vendas.val_dev) }}</strong></td>
                {% else %}
                  <td><strong>0.0</strong></td>
                {% endif %}
                <td></td>
              </tr>


                {% if total_grupo and meta.valor_meta %}
                  {% if total_grupo.valor >= meta.valor_meta %}
                    {% set glyphicon='glyphicon-triangle-top' %}
                    <tr style="color:green">
                  {% elif meta.valor_meta_minimo and total_grupo.valor > meta.valor_meta_minimo and total_grupo.valor < meta.valor_meta %}
                    {% set glyphicon='glyphicon-resize-horizontal' %}
                    <tr style="color:orange">
                  {% else %}
                    {% set glyphicon='glyphicon-triangle-bottom' %}
                    <tr style="color:red">
                  {% endif %}
                  <td colspan="7" style="text-align:right;"><strong>Valor Realizado Grupo</strong></td>
                  <td>
                    <span class="glyphicon {{ glyphicon }}" aria-hidden="true"></span>
                    <strong>{{ "R$ {:,.2f}".format(total_grupo.valor) }}</strong>
                  </td>
                  <td>
                    <strong>{{ "% {:,.2f}".format(total_grupo.perc) }}</strong>
                  </td>
                </td>
                {% else %}
                  <td colspan="7" style="text-align:right;"><strong>Valor Realizado Grupo</strong></td>
                  <td><strong>0.0</strong></td>
                  <td></td>
                {% endif %}
              </tr>

                {% if total_vendas and meta.valor_meta %}
                  {% if total_vendas.valor >= meta.valor_meta %}
                    {% set glyphicon='glyphicon-triangle-top' %}
                    <tr style="color:green">
                  {% elif meta.valor_meta_minimo and total_vendas.valor > meta.valor_meta_minimo and total_vendas.valor < meta.valor_meta %}
                    {% set glyphicon='glyphicon-resize-horizontal' %}
                    <tr style="color:orange">
                  {% else %}
                    {% set glyphicon='glyphicon-triangle-bottom' %}
                    <tr style="color:red">
                  {% endif %}
                <td colspan="7" style="text-align:right;"><strong>Valor Realizado Total</strong></td>
                  <td>
                    <span class="glyphicon {{ glyphicon }}" aria-hidden="true"></span>
                    <strong>{{ "R$ {:,.2f}".format(total_vendas.valor) }}</strong>
                  </td>
                  <td>
                    <strong>{{ "% {:,.2f}".format(total_vendas.perc) }}</strong>
                  </td>
                {% else %}
                  <td colspan="7" style="text-align:right;"><strong>Valor Realizado Total</strong></td>
                  <td><strong>0.0</strong></td>
                  <td></td>
                {% endif %}
              </tr>
            </tfoot>

            <tbody>
            {% if vendedores%}
              {% for v in vendedores %}
                {% if v.val_vendido >= v.val_meta %}
                <tr class="text-success">
                  <td>
                    <div>
                          <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                    <div>

                {% elif v.val_meta_minimo and v.val_vendido > v.val_meta_minimo and v.val_vendido < v.val_meta %}
                  <tr class="text-warning">
                    <td>
                      <div>
                            <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                      <div>
                {% else %}
                  <tr class="danger text-danger" style="color:red">
                    <td>
                      <div>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                      <div>
                {% endif %}

                    </td>
                    <td>{{ v.id_ciss }}</td>
                    <td>{{ v.nome_vendedor }}</td>
                    <td>
                      {% if v.val_meta_minimo %}
                        {{ "R$ {:,.2f}".format(v.val_meta_minimo) }}
                      {% else %}
                        0
                      {% endif %}
                    </td>
                    <td>{{ "R$ {:,.2f}".format(v.val_meta) }}</td>
                    <td>{{ "R$ {:,.2f}".format(v.val_bruto) }}</td>
                    <td class="text-danger">{{ "R$ {:,.2f}".format(v.val_dev) }}</td>
                    <td>{{ "R$ {:,.2f}".format(v.val_vendido) }}</td>
                    <td>{{ "% {:,.2f}".format(v.perc_atingido) }}</td>
                </tr>
                {% endfor %}
                {% if outros %}
                <tr style="color:grey">
                    <td>
                      <div>
                            <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                      </div>
                    </td>
                    <td>Outros</td>
                    <td>Outros</td>
                    <td>Outros</td>
                    <td>Outros</td>
                    <td>{{ "R$ {:,.2f}".format(outros.val_bruto) }}</td>
                    <td class="text-danger">{{ "R$ {:,.2f}".format(outros.val_dev) }}</td>
                    <td>{{ "R$ {:,.2f}".format(outros.val_liquido) }}</td>
                    <td>Outros</td>
                </tr>
                {% endif%}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center">Nenhuma Vendedor cadastrado ainda.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
