<div class="col-md-12">
    <div role="tabpanel" class="tab-pane">
        <table id="mytable"
               data-toggle="table"
               data-classes="table table-no-bordered"
               data-detail-view="true"
               data-detail-formatter="expandTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Cod.</th>
                    <th>Descrição</th>
                    <th>Data inicial</th>
                    <th>Data Final</th>
                    <th>Valor Mínimo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
            {% if metas %}
              {% for me in metas %}
                <tr>
                    <td>
                        <a class="btn btn-default" href="{{ url_for('vendas.metas_vendas', id=me.id_meta) }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default" href="{{ url_for('vendas.deletar', path=classe, id=me.id_meta) }}">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>{{ me.id_meta }}</td>
                    <td>{{ me.nome_meta }}</td>
                    <td>{{ me.dt_inicial.strftime('%d-%m-%Y') }}</td>
                    <td>{{ me.dt_final.strftime('%d-%m-%Y') }}</td>
                    <td>{{ me.valor_meta_minimo }}</td>
                    <td>{{ me.valor_meta }}</td>
                </tr>

              {% endfor %}
              {% else %}
                  <tr>
                      <td colspan="5">Nenhuma Marca cadastrada ainda.</td>
                  </tr>
              {% endif %}
            </tbody>
        </table>
    </div>
</div>
