{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
            <h3>Cadastrado das Vendedores.</h3>
            <hr />
    </div>
    {% include 'messages.html' %}
    <div class="col-md-12">
        <div class="row">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cadastrar Vendedores</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lista de Vendedores</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {{ active_table.tab1 }}" id="home">
                    {% include 'metas/forms/form_vendedores.html' %}
                </div>

                <div role="tabpanel" class="tab-pane {{ active_table.tab2 }}" id="profile">
                    {% include 'metas/tables/table_vendedores.html' %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $("#data_inicial").datepicker();
        $("#data_final").datepicker();

        $('.money').mask('000.000.000.000.000,00', {
            reverse: true
        });
        $('.integer').mask('000000000');
    });
</script>
{% endblock %}
